@using FinTech101.Models
@{
    var years = ViewBag.years;
    string charttitle = Convert.ToString(ViewBag.title);
    string howerdescription =Convert.ToString(ViewBag.Descirption);
    // List<SP_Q1_StockEntityWasUpOrDownByPercentResult> result = ViewBag.result;

}


<div id="chartdiv" style="width: 100%; height: 500px;"></div>



<script type="text/javascript">

    function fetchResult(qno, data) {
        initResults();

        $.ajax('/home/' + qno, {
            data: data,
            cache: false,
            success: function (data, status, xhrObj) {
                console.log("ajax success");
                $('#result').html(data);
            },
            error: function (xhrObj, status, errorThrown) {
                resultWasError();
            }
        });
    }
    function handleClick(event) {
        // alert(event.item.category + ": " + event.item.values.value);
        fetchResult('q1',
           {
               setID: $('#set_selection').val(),
               seID: $('#q1_se').val(),
               upOrDown: $('#q1_uod').val(),
               percent: $('#q1_percent').val(),
               fromYear: $('#q1_from_year').val(),
               toYear: $('#q1_to_year').val(),
               yearvalue :event.item.category
           });

    }

    var title= "@charttitle";
    var description="@howerdescription";
    var data= @Html.Raw(years);

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "none",
        "creditsPosition": "top-right",
        "autoMargins": false,
        "marginLeft": 60,
        "marginRight": 15,
        "marginTop": 10,
        "marginBottom": 26,
        "titles": [{
            "text": ""+title+""
        }],       
        "dataProvider": data,
        "startDuration": 1,
        "graphs": [{
            "alphaField": "alpha",
            "balloonText": "<span style='font-size:13px;'>[[category]]:<b>[[value]]</b> [[additional]]</span> <br>"+description+"",
            "dashLengthField": "dashLengthColumn",
            "fillAlphas": 1,           
            "title": "",
            "type": "column",
            "valueField": "Key",
            "urlField": ""
        }],       
        "categoryField": "Value",
        "rotate": true,
        listeners: [{
            "event": "clickGraphItem",
            "method": handleClick 
        }],
        valueAxes: [{
            guides: [{
                value: 40,
                lineColor: "#CC0000",
                lineAlpha: 3,
                dashLength: 3,
                inside: true,
                labelRotation: 90,
                label: "Average of xyz...",
                position:"right",
                above:true,
                "balloonText": "<span style='font-size:14px; color:#000000;'><b>Average</b></span>",
            
            }],
            "listeners": [{
                "event": "clickItem",
                "method": function(event) {
                    window.location.href ="https://www.google.com";// event.serialDataItem.dataContext.url;
                }
            }]
        }],
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 90,
            "tickLength": 0,
            "listeners": [{
                "event": "clickItem",
                "method": function(event) {
                    window.location.href ="https://www.google.com";// event.serialDataItem.dataContext.url;
                }
            }],
            //"guides": [{
            //    category: "2013",
            //    lineColor: "#CC0000",
            //    lineAlpha: 3,
            //    dashLength: 3,
            //    inside: true,
            //    labelRotation: 90,
            //    label: "Average of xyz...",
            //    position:"right",
            //    above:true,
            //    "balloonText": "<span style='font-size:14px; color:#000000;'><b>Average</b></span>",
            //}]
        }
    });
   
    
</script>
