@using FinTech101.Models
@{
    var years = ViewBag.years;
    string charttitle = Convert.ToString(ViewBag.title);
    string howerdescription =Convert.ToString(ViewBag.Descirption);
    // List<SP_Q1_StockEntityWasUpOrDownByPercentResult> result = ViewBag.result;

}





<div id="chartdiv" style="width: 100%; height: 500px;"></div>




<script type="text/javascript">

    function fetchResult(qno, data) {
        initResults();

        $.ajax('/home/' + qno, {
            data: data,
            cache: false,
            success: function (data, status, xhrObj) {
                console.log("ajax success");
                $('#result').html(data);
            },
            error: function (xhrObj, status, errorThrown) {
                resultWasError();
            }
        });
    }
    function handleClick(event) {
        // alert(event.item.category + ": " + event.item.values.value);
        fetchResult('q1',
           {
               setID: $('#set_selection').val(),
               seID: $('#q1_se').val(),
               upOrDown: $('#q1_uod').val(),
               percent: $('#q1_percent').val(),
               fromYear: $('#q1_from_year').val(),
               toYear: $('#q1_to_year').val(),
               yearvalue :event.item.category
           });

    }

    var title= "@charttitle";
    var description="@howerdescription";
    var data= @Html.Raw(years);


    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "none",
        "creditsPosition": "top-right",
        "autoMargins": false,
        "marginLeft": 30,
        "marginRight": 8,
        "marginTop": 10,
        "marginBottom": 26,
        "titles": [{
            "text": ""+title+""
        }],
        listeners: [{
            "event": "clickGraphItem",
            "method": handleClick
        }],
        "dataProvider": data,
        "startDuration": 1,
        "graphs": [{
            "alphaField": "alpha",
            "balloonText": "<span style='font-size:13px;'>[[category]]:<b>[[value]]</b> [[additional]]</span> <br>"+description+"",
            "dashLengthField": "dashLengthColumn",
            "fillAlphas": 1,
            "title": "",
            "type": "column",
            "valueField": "Key",
            "urlField": "url"
        }],
        "categoryField": "Value",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "tickLength": 0
        }
    });

</script>
