@using FinTech101.Models
@{
    var years = ViewBag.years;
    string charttitle = Convert.ToString(ViewBag.title);
    int? yearvalue = ViewBag.yrvalue;
}

<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

        .bar:hover {
            fill: royalblue;
            cursor:pointer;
        }

    .x.axis path {
        display: none;
    }

</style>

<div id="bargraph"></div>

<script src="~/Content/d3.js/d3.min.js"></script>
<script src="~/Content/d3.js/d3.tip.v0.6.3.js"></script>

<script>
    
    var dataset = @Html.Raw(years);
    var w = 800;
    var h = 500;
    var padding = 60;
    var title = "@charttitle";
    var yrvalue="@yearvalue";

        var xScale = d3.scale.ordinal()
                    .domain(dataset.map(function (d) { return d.Value; }))
                     .rangeRoundBands([0, w], .1)


        var yScale = d3.scale.linear()
                    .domain([0, d3.max(dataset, function (d) { return d.Key; })])
                    .range([h - padding , 0]);

        var xAxis = d3.svg.axis()
                          .scale(xScale)
                          .orient("bottom");


        //Define Y axis
        var yAxis = d3.svg.axis()
                          .scale(yScale)
                          .orient("left")

        //Create SVG element
        var svg = d3.select("#bargraph")
                    .append("svg")
                    .attr("width", w + padding)
                    .attr("height", h + padding)


        //Create X axis
        svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(" + padding + "," + h + ")")
            .call(xAxis)
            .on("click", function (d) { alert('clicked!'); });

        ////Create Y axis
        //svg.append("g")
        //    .attr("class", "axis")
        //    .attr("transform", "translate(" + padding + "," + padding + ")")
        //    .call(yAxis);


        var barwidth = xScale.rangeBand() / 2;
        svg.selectAll("text.bar")
            .data(dataset)
            .enter().append("text")
            .attr("text-anchor", "middle")
            .attr("x", function (d) { return xScale(d.Value) + padding +barwidth; })
            .attr("y", function (d) { return yScale(d.Key)+padding-5; })
            .text(function (d) { return d.Key; });

        svg.append("text")
            .attr("x", (w +padding)/ 2)
            .attr("y",padding/2)
            .attr("text-anchor", "middle")
            .style("font-size", "16px")
            .style("font-weight", "bold")
            .text(""+title+"")


        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("class", "bar")
            .attr("x", function (d) { return xScale(d.Value) + padding; })
            .attr("width", xScale.rangeBand())
            .attr("y", function (d) { return yScale(d.Key)+padding; })
            .attr("height", function (d) { return h - yScale(d.Key)-padding; })
            .attr("fill", "Red")
            .on('click', function (d){
                var xaxisdescription=(d.Value).toString();
                //isnum check the xaxis value if it's an integer like 2010 return true else Name of the Months like May,June then return false
                var isnum = /^\d+$/.test(xaxisdescription); 
                //true then load Months of the year
                if(isnum)
                {
                    //call controller with ajax
                    fetchResult('q1_d3',
                   {
                       setID: $('#set_selection').val(),
                       seID: $('#q1_se').val(),
                       upOrDown: $('#q1_uod').val(),
                       percent: $('#q1_percent').val(),
                       fromYear: $('#q1_from_year').val(),
                       toYear: $('#q1_to_year').val(),
                       yearvalue :d.Value,
                   });

                }
                else
                //False then load Days of the Month
                {
                  fetchResult('q1_d3_1',
                  {
                       setID: $('#set_selection').val(),
                       seID: $('#q1_se').val(),
                       upOrDown: $('#q1_uod').val(),
                       percent: $('#q1_percent').val(),
                       fromYear: $('#q1_from_year').val(),
                       toYear: $('#q1_to_year').val(),
                       yearvalue :"@yearvalue",
                       monthValue: d.Key
                   });            
                }
                });
</script>

